In [5]:

import numpy as np
import pandas as pd

In [6]:
df = pd.read_csv("../Data-Analysis-Datasets/Datasets-Practice/hr_data.csv")
df

,employee_id,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,department,salary
0,1003,2,157,3,0,1,0,sales,low
1,1005,5,262,6,0,1,0,sales,medium
2,1486,7,272,4,0,1,0,sales,medium
3,1038,5,223,5,0,1,0,sales,low
4,1057,2,159,3,0,1,0,sales,low
...,...,...,...,...,...,...,...,...,...
14994,87670,2,151,3,0,1,0,support,low
14995,87673,2,160,3,0,1,0,support,low
14996,87679,2,143,3,0,1,0,support,low
14997,87681,6,280,4,0,1,0,support,low
14998,87684,2,158,3,0,1,0,support,low

In [8]:
"""It will return the all the column names."""
df.columns

Index(['employee_id', 'number_project', 'average_montly_hours',
       'time_spend_company', 'Work_accident', 'left', 'promotion_last_5years',
       'department', 'salary'],
      dtype='object')

In [10]:
"""It will return different row"""
df.sample()

,employee_id,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,department,salary
9061,53526,5,191,3,0,0,0,support,low

In [11]:
df.sample(5)

,employee_id,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,department,salary
3190,19098,4,218,2,0,0,0,management,medium
3188,86292,5,143,3,0,0,0,technical,medium
2290,13880,4,167,2,0,0,0,accounting,medium
9256,54660,2,149,3,0,0,0,sales,low
1893,11628,7,302,5,0,1,0,IT,medium

In [12]:
df

,employee_id,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,department,salary
0,1003,2,157,3,0,1,0,sales,low
1,1005,5,262,6,0,1,0,sales,medium
2,1486,7,272,4,0,1,0,sales,medium
3,1038,5,223,5,0,1,0,sales,low
4,1057,2,159,3,0,1,0,sales,low
...,...,...,...,...,...,...,...,...,...
14994,87670,2,151,3,0,1,0,support,low
14995,87673,2,160,3,0,1,0,support,low
14996,87679,2,143,3,0,1,0,support,low
14997,87681,6,280,4,0,1,0,support,low
14998,87684,2,158,3,0,1,0,support,low

In [15]:
#it will return all the data of column for particular index
df.loc[22]

employee_id               1158
number_project               6
average_montly_hours       304
time_spend_company           4
Work_accident                0
left                         1
promotion_last_5years        0
department               sales
salary                     low
Name: 22, dtype: object

In [16]:
#it will slice the  dataframe based on  slicing.  var.loc[st:en:step]
df.loc[22:100]

,employee_id,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,department,salary
22,1158,6,304,4,0,1,0,sales,low
23,1166,2,139,3,0,1,0,sales,low
24,1175,2,158,3,0,1,0,sales,low
25,1184,5,242,5,0,1,0,sales,low
26,1186,4,239,5,0,1,0,sales,low
...,...,...,...,...,...,...,...,...,...
96,1610,6,265,4,0,1,0,sales,low
97,1622,6,279,4,0,1,0,sales,low
98,1639,6,284,4,0,1,0,sales,low
99,1641,5,221,6,0,1,0,sales,medium
100,1642,2,154,3,0,1,0,sales,medium

In [22]:
df.loc[[2,5,7],["department","salary"]]

  department  salary
2      sales  medium
5      sales     low
7      sales     low

In [17]:
df.loc[1:4, ["department","salary"]]  # range rows with specific columns

  department  salary
1      sales  medium
2      sales  medium
3      sales     low
4      sales     low

In [18]:
df.iloc[0]              # first row

employee_id               1003
number_project               2
average_montly_hours       157
time_spend_company           3
Work_accident                0
left                         1
promotion_last_5years        0
department               sales
salary                     low
Name: 0, dtype: object

In [19]:
df.iloc[0:5]            # rows 0 to 4

,employee_id,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,department,salary
0,1003,2,157,3,0,1,0,sales,low
1,1005,5,262,6,0,1,0,sales,medium
2,1486,7,272,4,0,1,0,sales,medium
3,1038,5,223,5,0,1,0,sales,low
4,1057,2,159,3,0,1,0,sales,low

In [20]:
df.iloc[:, 2]           # all rows, column index 2

0        157
1        262
2        272
3        223
4        159
        ...
14994    151
14995    160
14996    143
14997    280
14998    158
Name: average_montly_hours, Length: 14999, dtype: int64

In [21]:
df.iloc[0:4, 1:3]       # row 0-3 & column 1-2

   number_project  average_montly_hours
0               2                   157
1               5                   262
2               7                   272
3               5                   223